<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089472273367-4n5oqbtd35j1r1p75vkgj9l94k3v8kbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089472273367-4n5oqbtd35j1r1p75vkgj9l94k3v8kbf</string>
	<key>API_KEY</key>
	<string>AIzaSyC1NIqbeYkj4VjMhZ06uVWgMzyUjLBVyFM</string>
	<key>GCM_SENDER_ID</key>
	<string>1089472273367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elredtodo</string>
	<key>PROJECT_ID</key>
	<string>elred-kaushal</string>
	<key>STORAGE_BUCKET</key>
	<string>elred-kaushal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089472273367:ios:bdb82dbd0b2a7e687a0992</string>
</dict>
</plist>